<header class="nav-bar">
    <div class="nav-content">
        <!-- Logo and title -->
        <a class="logo-touch-target" href="{{ '/' | relative_url }}">
            <img class="nav-content logo" src="/assets/img/logo.svg" />
        </a>
        <script src="/assets/js/hamburger.js"></script>
        <a aria-label="pull" id="pull" class="toggle" href="#" onclick="openMenu(); return false;">
            <i class="fa fa-bars fa-lg hamburger-icon"></i>
        </a>

        <!-- Toggle menu -->
        <nav class="clear">
            <ul id="menu" class="hide">
                <li class="separator"></li>
                <li><a title="Record Videos" href="/videos">Record Videos</a></li>
                <li class="separator"></li>
                <li><a title="AstonHack6" href="/astonhack">AstonHack6</a></li>
            </ul>
        </nav>
    </div>
</header>

<!--
{%- for page in site.pages -%}
{%- if page.hide != true and page.permalink != blank -%}
<li class="separator"></li>
<li><a title="{{ page.title }}" href="{{ page.permalink | relative_url }}">{{- page.title -}}</a></li>
{%- endif -%}
{%- endfor -%}
-->